<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvFAkdTxSP8AAKFBejU3TxyC2j3hMjWUs</string>
	<key>GCM_SENDER_ID</key>
	<string>753764308154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.sportxchange</string>
	<key>PROJECT_ID</key>
	<string>sport-xchange-6t3twk</string>
	<key>STORAGE_BUCKET</key>
	<string>sport-xchange-6t3twk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753764308154:ios:5ef5f7d4574f49990e5e83</string>
</dict>
</plist>